#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.titleText {
  font-size: 3em;
}

.backButton {
  position: fixed;
  top: 2vh;
  left: 2vw;
  min-width: 15vw;
  height: 8vh;
  font-size: 1.25em;
}

.buttonSelectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
}

.buttonSelector {
  min-width: 15vw;
  height: 8vh;
  font-size: 1.5em;
}

.resultsContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 50vw;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

h2 {
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.75em;
}

p {
  margin-bottom: 5px;
  font-size: 1.5em;
}

.customRandomizeButtonsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}